---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: purple;

$type-size-1 : 1.953em;  // ~31.248px
$type-size-2 : 1.563em;  // ~25.008px
$type-size-3 : 1.25em;   // ~20px
$type-size-4 : 0.85em;      // ~16px
$type-size-5 : 0.72em;   // ~12px
$type-size-6 : 0.6875em; // ~11px
$type-size-7 : 0.625em;  // ~10px
$type-size-8 : 0.625em;  // ~10px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__content {
  p,
  li,
  dl {
    font-size: $type-size-4
  }

  p > img{
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
}

